.favorites-container {
  padding: 1em;
  &__title {
    text-align: center;
    &-green {
      color: var(--c-primary);
    }
  }
}
.loading {
  height: 80dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
