.pantry-container {
  &__title {
    text-align: center;
    margin: 1em 0;
    &-green {
      color: var(--c-primary);
    }
  }
  &__products {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 20em));
    justify-content: center;
    gap: 2em;
  }
}

.noproducts {
  height: 80dvh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    color: rgb(236, 23, 23);
  }
  &__button {
    padding: 0.5em 1.5em;
  }
}

.loading-container {
  height: 80dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 48rem) {
  .pantry-container {
    &__products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
