<div class="container-product">
  @if(this.loading){
  <div class="container-spinner">
    <img
      src="/gifs/egg.gif"
      alt="Cargando..."
      class="container-spinner__spinner"
    />
  </div>
  } @else if(this.productInfo){
  <h1 class="container-product__title">
    {{ productInfo.product_name == "" ? productInfo.brands :
    productInfo.product_name}}
  </h1>
  <div class="container-product__info">
    <img
      [src]="productInfo.image_url"
      alt="Imagen del producto"
      class="container-product__info--image"
    />
    <ul class="container-product__info--list">
      <li>
        <span class="bold">Calorías:</span> {{ productInfo.nutriments.energy &&
        productInfo.nutriments.energy > 0 ? (productInfo.nutriments.energy |
        KjtoCal) + ' kcal' : 'No tenemos esa información'}}
      </li>
      <li>
        <span class="bold">Grasas:</span> {{ productInfo.nutriments.fat }} g
      </li>
      <li>
        <span class="bold">Carbohidratos:</span> {{
        productInfo.nutriments.carbohydrates }} g
      </li>
      <li>
        <span class="bold">Proteínas:</span> {{ productInfo.nutriments.proteins
        }} g
      </li>
      <li>
        <span class="bold">Nutri-Score:</span> {{
        productInfo.nutrition_grades?.toUpperCase() }}
      </li>

      @if (productInfo.quantity != "" && productInfo.quantity != null) {

      <li><span class="bold">Cantidad:</span> {{productInfo.quantity}}</li>
      }
    </ul>
  </div>
  <div class="container-product__buttons">
    <button (click)="openModal()" class="container-product__buttons--button">
      {{this.contains ? 'Añadir más' : 'Añadir a la despensa'}}
    </button>
    <button
      (click)="toggleFavorite()"
      [ngClass]="{'container-product__buttons--button-favorite' : isFavorite, 'container-product__buttons--button-no-favorite' : !isFavorite}"
      [disabled]="isLoading"
    >
      {{this.isFavorite ? 'Eliminar de favoritos' : 'Añadir a favoritos'}}
    </button>
  </div>
  } @if (showModal) {
  <div class="modal">
    <h2 class="modal__title">¿Cuántas unidades quieres añadir?</h2>
    <input type="number" min="1" class="modal__input" [(ngModel)]="quantity" />
    <div class="modal__actions">
      <button (click)="addToPantry()" class="modal__actions--confirm">
        {{isLoading ? 'Añadiendo...' : 'Confirmar'}}
      </button>
      <button (click)="closeModal()" class="modal__actions--decline">
        Cancelar
      </button>
    </div>
  </div>
  }
</div>
