.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    margin: 1em 0;
    padding: 0 0 2em 0;
  }
  &__signout {
    background-color: rgb(226, 52, 52);
    padding: 1em 2em;
    border: none;
    border-radius: 1em;
    color: white;
    font-size: 0.9em;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.loading {
  height: 80dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
