.pantry-container {
  &__title {
    text-align: center;
    margin: 1em 0;
    &-green {
      color: var(--c-primary);
    }
  }
  &__products {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }
}
